.about{
    padding: 100px 0;
}
.about-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.about{
    background-color: var(--color-dark);
}

.about-right{
 text-align: right;
}
img{
    max-width: 100%;
}
.right-img img{
    border-radius: .5rem;
    max-width: 100%;
     margin-left: 5rem;
    width: 300px;
    transition: .4s ease-in-out;
}
.right-img img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease; 
}
.about-i {
    margin-top: 4rem;
    margin-right: 54px;
    font-size: 1.5rem;
}

h6.about-me {
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--primary-color);
    transform: rotate(90deg);
    margin-top: -25rem;
    margin-left: 25rem;
}
.about-me::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    margin: -44px 0;
    background: hsla(0,0%,100%,.85);
    z-index: -1;
    transform: rotate(-89deg);
    height: 5rem;
    top: 1.3rem;
    left: 184px;
    right: 0px;
}
.about-icons {
    margin-top: -13rem;
    margin-right: -5rem !important;
}

/*  about left conmtent */


.about-left-content p{
    line-height: 1.8rem;
}


/*  mobil;e css  */

@media only screen and (max-width: 600px) {
    .about-wraper{
        grid-template-columns:  1fr;
    }

    .right-img {
        margin-left: -7em;
    }

    .about-i {
        margin-top: 4rem;
        margin-right: 95px;
        font-size: 1.5rem;
    }
    h6.about-me {
        padding: 10px 49px;
        margin-top: -25rem;
        margin-left: 20rem;
    }
    .about-me::before {
 
        margin: -44px 0;
        height: 5rem;
        top: 1.3rem;
        left: 263px;
        right: 0px;
    }
    body{
        overflow-x: hidden;
    }
    
  }

