.contact{
    background: var(--color-dark);
}

.contact-button{
    font-weight: 700;
    padding: 10px 20px ;
    color: var(--color-secundary);
    background-color:var(--primary-color);
    border:  2px solid  var(--color-border);
    border-radius: .2rem;
    transition: .4s;
    border-radius: .5rem;
}

.contact-button:hover{
       background-color: var(--primary-color);
    color: var(--color-dark);
}

.contact-card{
    background-color: var(--primary-color);
    width: 100%;
    transition: .4s;
    border-radius: .5rem;
}

.contact-card:hover{
    background-color: var(--color-dark);
    color: white;
}

.contact-h2{
    font-size: 3rem;
    font-weight: 700;
}

input#name {
    padding: 16px 12px;
}
input#email{
    padding: 16px 12px;
}
input#subject{
    padding: 16px 12px;
}